<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">
 
	<context:annotation-config />
	
	<context:component-scan base-package="com.wondersgroup.jkda.application.modules" />
	
    <context:component-scan base-package="com.wondersgroup.frame.core.base" />
	
	<context:property-placeholder location="classpath:config/hibernate/hibernate.properties"/>
	
	<!-- <import resource="config/spring/applicationContext-persistence.xml" /> -->
	
<!-- 	<import resource="config/spring/applicationContext-sqlmap.xml" /> -->
	
	<!--<import resource="config/spring/applicationContext-memcached.xml" />
--></beans>

